<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hanshenrik.gronsleth_hasamishogi" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SelectPlayerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".PlayersProvider"
            android:authorities="com.hanshenrik.gronsleth_hasamishogi"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <activity
            android:name=".RegisterNewPlayerActivity"
            android:label="@string/title_activity_register_new_player"
            android:parentActivityName=".SelectPlayerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hanshenrik.gronsleth_hasamishogi.SelectPlayerActivity" />
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName=".SelectPlayerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hanshenrik.gronsleth_hasamishogi.SelectPlayerActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".GameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hanshenrik.gronsleth_hasamishogi.GameActivity" />
        </activity>
        <activity
            android:name=".LeagueTableActivity"
            android:label="@string/title_activity_league_table" >
        </activity>
    </application>

</manifest>
